/* 2/1よりも横長 */
@media (max-aspect-ratio: 2/1) and (orientation: landscape)
{
    #editor
    {
        width: 100svw;
        height: 50svw;
        left: 0;
        top: 0;
        /*top: calc(50svh - 25svw);*/
        font-size: calc(50svw / 32);
    }
}
/* 2/1よりも縦長 */
@media (min-aspect-ratio: 2/1) and (orientation: landscape)
{
    #editor
    {
        width: 200svh;
        height: 100svh;
        left: calc(50svw - 100svh);
        top: 0;
        font-size: calc(100svh / 32);
    }
}
/* 1/2よりも横長 */
@media (max-aspect-ratio: 1/2) and (orientation: portrait)
{
    #editor
    {
        width: 100svw;
        height: 200svw;
        left: 0;
        top: 0;
        /*top: calc(50svh - 100svw);*/
        font-size: calc(200svw / 64);
    }
}
/* 1/2よりも縦長 */
@media (min-aspect-ratio: 1/2) and (orientation: portrait)
{
    #editor
    {
        width: 50svh;
        height: 100svh;
        left: calc(50svw - 25svh);
        top: 0;
        font-size: calc(100svh / 64);
    }
}

/* 縦長画面の場合の各位置 */
@media (orientation: portrait)
{
    #editor
    {
        grid-template-columns: repeat(16, 1fr);
        grid-template-rows: repeat(32, 1fr);
        overflow: hidden;
    }
    #name-div
    {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
    }
    #save-div
    {
        grid-column: 9 / 15;
        grid-row: 1 / 3;
    }
    #version
    {
        grid-column: 15 / 17;
        grid-row: 1 / 3;
    }
    #canvas
    {
        grid-column: 1 / 17;
        grid-row: 3 / 19;
    }
    #mode-3d
    {
        grid-column: 1 / 9;
        grid-row: 19 / 21;
    }
    #mode-2d
    {
        grid-column: 1 / 9;
        grid-row: 21 / 23;
    }
    #position-x
    {
        grid-column: 9 / 11;
        grid-row: 31 / 32;
    }
    #position-y
    {
        grid-column: 11 / 13;
        grid-row: 31 / 32;
    }
    #position-z
    {
        grid-column: 13 / 15;
        grid-row: 31 / 32;
    }
    #position-t
    {
        grid-column: 15 / 17;
        grid-row: 31 / 32;
    }
    #rotate-x
    {
        grid-column: 9 / 11;
        grid-row: 32 / 33;
    }
    #rotate-y
    {
        grid-column: 11 / 13;
        grid-row: 32 / 33;
    }
    #texture-x
    {
        grid-column: 13 / 15;
        grid-row: 32 / 33;
    }
    #texture-y
    {
        grid-column: 15 / 17;
        grid-row: 32 / 33;
    }
    #all
    {
        grid-column: 10 / 12;
        grid-row: 20 / 22;
    }
    #up
    {
        grid-column: 12 / 14;
        grid-row: 20 / 22;
    }
    #remove
    {
        grid-column: 14 / 16;
        grid-row: 20 / 22;
    }
    #grab
    {
        grid-column: 10 / 12;
        grid-row: 22 / 24;
    }
    #down
    {
        grid-column: 12 / 14;
        grid-row: 22 / 24;
    }
    #put
    {
        grid-column: 14 / 16;
        grid-row: 22 / 24;
    }
    #param-3d-div,
    #param-2d-div,
    #vertex-div,
    #surface-div,
    #matrix-div,
    #pose-3d-div,
    #pose-2d-div,
    #texel-div
    {
        grid-column: 1 / 9;
        grid-row: 23 / 33;
    }
    #strage-div,
    #file-div
    {
        grid-column: 1 / 17;
        grid-row: 1 / 33;
    }
}

/* 横長画面の場合の各位置 */
@media (orientation: landscape)
{
    #editor
    {
        grid-template-columns: repeat(32, 1fr);
        grid-template-rows: repeat(16, 1fr);
    }
    #name-div
    {
        grid-column: 1 / 9;
        grid-row: 1 / 3;
    }
    #save-div
    {
        grid-column: 25 / 31;
        grid-row: 1 / 3;
    }
    #version
    {
        grid-column: 31 / 33;
        grid-row: 1 / 3;
    }
    #mode-3d
    {
        grid-column: 1 / 9;
        grid-row: 3 / 5;
    }
    #mode-2d
    {
        grid-column: 1 / 9;
        grid-row: 5 / 7;
    }
    #position-x
    {
        grid-column: 25 / 27;
        grid-row: 15 / 16;
    }
    #position-y
    {
        grid-column: 27 / 29;
        grid-row: 15 / 16;
    }
    #position-z
    {
        grid-column: 29 / 31;
        grid-row: 15 / 16;
    }
    #position-t
    {
        grid-column: 31 / 33;
        grid-row: 15 / 16;
    }
    #rotate-x
    {
        grid-column: 25 / 27;
        grid-row: 16 / 17;
    }
    #rotate-y
    {
        grid-column: 27 / 29;
        grid-row: 16 / 17;
    }
    #texture-x
    {
        grid-column: 29 / 31;
        grid-row: 16 / 17;
    }
    #texture-y
    {
        grid-column: 31 / 33;
        grid-row: 16 / 17;
    }
    #canvas
    {
        grid-column: 9 / 25;
        grid-row: 1 / 17;
    }
    #all
    {
        grid-column: 26 / 28;
        grid-row: 4 / 6;
    }
    #up
    {
        grid-column: 28 / 30;
        grid-row: 4 / 6;
    }
    #remove
    {
        grid-column: 30 / 32;
        grid-row: 4 / 6;
    }
    #grab
    {
        grid-column: 26 / 28;
        grid-row: 6 / 8;
    }
    #down
    {
        grid-column: 28 / 30;
        grid-row: 6 / 8;
    }
    #put
    {
        grid-column: 30 / 32;
        grid-row: 6 / 8;
    }
    #param-3d-div,
    #param-2d-div,
    #vertex-div,
    #surface-div,
    #matrix-div,
    #pose-3d-div,
    #pose-2d-div,
    #texel-div
    {
        grid-column: 1 / 9;
        grid-row: 7 / 17;
    }
    #strage-div,
    #file-div
    {
        grid-column: 1 / 33;
        grid-row: 1 / 17;
    }
}

/* 全体のブロック */
#editor
{
    background-color: #888;
    border-radius: 0.5em;
    position: absolute;
    display: grid;
    z-index: 0;
}

/* モード関係 */
#pose-3d-mode,
#vertex-3d-mode,
#surface-mode,
#matrix-mode
{
    width: calc((100% - 2em) / 4);
}
#pose-2d-mode,
#vertex-2d-mode,
#texel-mode
{
    width: calc((100% - 2em) / 3);
}
#param-3d-mode,
#param-2d-mode
{
    width: 2em;
}
#mode-2d #param-2d-mode,
#mode-3d #param-3d-mode
{
    border-radius: 0.5em 0 0 0.5em;
}
#mode-3d #pose-3d-mode,
#mode-2d #pose-2d-mode
{
    border-radius: 0 0.5em 0.5em 0;
}
#mode-3d .radio-button,
#mode-2d .radio-button
{
    border-radius: 0;
}

#name-div,
#save-div,
#mode-3d,
#mode-2d,
#matrix-div,
#param-3d-div,
#param-2d-div,
#vertex-div,
#surface-div,
#texel-div
{
    padding: 0.25em;
}

/* ストレージとファイル関係のボタン */
#name
{
    width: 100%;
    border-radius: 0.5em;
}
#open-strage,
#open-file
{
    width: calc(100% / 2);
    display: inline-block;
}

/* アプリ更新ボタン */
#version
{
    color: #333;
    background-image: url(./icon.png);
    background-size: contain;
    width: 100%;
    height: 100%;
    padding: 2.75em 0 0 0;
    text-align: center;
}


/* キャンバス*/
#canvas
{
    width: 100%;
    height: 100%;
    /* image-rendering: pixelated; */
}

/* カレント座標表示 */
#position-x,
#position-y,
#position-z,
#position-t,
#rotate-x,
#rotate-y,
#texture-x,
#texture-y
{
    text-align: center;
    padding: 0.5em 0;
}

/* スクロールパッド */
#scroll-pad,
#rotate-pad
{
    background-color: #777;
    padding: 0;
    border-style: none;
    border-radius: 100%;
}
/* スクロールつまみ */
#scroll,
#rotate
{
    background-color: #666;
    color: #FFF;
    text-align: center;
    padding: calc(25% - 0.5em) 0 0 0;
    border-style: none;
    border-radius: 100%;
    width: 50%;
    height: 50%;
    position: relative;
}

/* 深度バーと時間バー */
#depth-bar,
#time-bar
{
    background-color: #777;
    color: #FFF;
    border-radius: 4em;
}
#depth,
#time
{
    width: 100%;
    height: 4em;
    line-height: 4em;
    background-color: #666;
    left: 0;
    text-align: center;
    border-radius: 2em;
    position: relative;
}

/* spanでできたラジオボタン */
.radio-button
{
    background-color: #666;
    padding: 1.25em 0;
    border-style: none;
    text-align: center;
    vertical-align: middle;
    height: 3.5em;
    display: inline-block;
}

/* 押されているボタン */
.radio-button.selected,
.button.selected,
.edit-button.selected
{
    background-color: #444;
}

/* 押せないボタン */
.radio-button.disabled,
.button.disabled,
.edit-button.disabled
{
    background-color: #777 !important;
    color: #999;
    border-color: #777;
}

/* spanやdivでできたボタン */
.button,
.edit-button
{
    padding: 1.5em 0;
    border-style: none;
    border-radius: 0.5em;
    height: 4em;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.button
{
    background-color: #666;
}
.button:active
{
    background-color: #444;
}
.edit-button
{
    background-color: #666;
    border-radius: 0;
}
.edit-button:active
{
    background-color: #444;
}
/* ボタンの形 */
#all { border-radius: 2em 0 0 0; }
#remove { border-radius: 0 2em 0 0; }
#grab { border-radius: 0 0 0 2em; }
#put { border-radius: 0 0 2em 0; }

/* 適用ボタン */
.apply
{
    text-align: center;
    display: block;
}

/* 入力欄 */
input[type="text"],
input[type="number"]
{
    background-color: #CCC;
    color: #000;
    padding-left : 0.5em;
    border-style: none;
    border-width: 0;
    height: 3.5em;
    vertical-align: middle;
    width: 100%;
}
input[type="number"]
{
    border-radius: 0.5em;
}

/* ボタン類 */
input[type="button"],
input[type="submit"]
{
    background-color: #666;
    color: #FFF;
    border-style: none;
    border-width: 0;
    border-radius: 0.5em;
    height: 3.5em;
    vertical-align: middle;
}
input[type="button"]:not([disabled]):active,
input[type="submit"]:not([disabled]):active
{
    background-color: #444;
    color: #FFF;
    border-color: #444;
}
input[disabled]
{
    background-color: #777;
    color: #999;
    border-color: #777;
}

/* 入力のラベル */
label
{
    border-radius: 0.5em;
    padding: 1.25em 0;
    text-align: center;
    vertical-align: middle;
    width: 99%;
    display: inline-block;
}

/* 適用ボタン */
#apply-3d,
#apply-2d
{
    width: 100%;
    display: block;
}

/* ストレージ画面 */
#open-strage
{
    border-radius: 0.5em 0 0 0.5em;
}
#strage-div,
#file-div
{
    background-color: rgba(136, 136, 136, 0.8);
    padding: 0.25em;
    z-index: 1;
}
#cancel-button,
#load-button,
#save-button,
#delete-button
{
    width: calc(100% / 16 * 8 / 4);
    vertical-align: middle;
    display: inline-block;
}
#cancel-button,
#load-button,
#save-button
{
    border-radius: 0;
}
#delete-button
{
    border-radius: 0 0.5em 0.5em 0;
}
#name-strage
{
    width: calc(100% / 16 * 8);
    border-radius: 0.5em;
    vertical-align: middle;
    border-radius: 0.5em 0 0 0.5em;
}
#strage-list
{
    margin-top: 2.25em;
}

/* ファイル系ボタン */
#open-file
{
    border-radius: 0 0.5em 0.5em 0;
}
#name-file
{
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}
#cancel-file,
#export,
#import
{
    width: 100%;
    display: inline-block;
    border-radius: 0;
}
#export
{
    border-radius: 0 0 0.5em 0.5em;
}

/* リストの頂点と面 */
.strage,
.vertex,
.surface
{
    background-color: #666;
    border-style: none;
    border-width: 0;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 0.25em;
    text-decoration: none;
}
.strage.selected,
.vertex.selected,
.surface.selected
{
    background-color: #444;
}

/* データリスト */
dt,
dd
{
    line-height: 2em;
}

/* リンク */
a
{
    color: #000;
    border-bottom: solid 0.125em #000;
    padding: 0;
    text-decoration: none;
}
/* 押下時リンク */
a:active
{
    border-bottom-width: 0.25em;
}

/* 隠すクラス */
.none
{
    display: none;
}

/* 潰すクラス */
.min
{
    width: 0;
    height: 0;
    opacity: 0;
}

/* リスト */
li
{
    padding: 0.5em;
}

/* タイトル */
h1
{
    padding: 1em;
    font-size: 4svmin;
    line-height: 2em;
}

/* 段落 */
p
{
    padding: 1em;
    font-size: 4svmin;
    line-height: 2em;
}

/* 全体 */
body
{
    background-color: #AAA;
    color: #FFF;
    font-size: 12pt;
}

body,
html
{
    width: 100svw;
    height: 100svh;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    overflow: hidden;
    overscroll-behavior-y: none;
}

/* 全ての要素 */
*
{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: sans-serif;
    font-size: 1em;
    line-height: 1em;
    word-spacing: 0.125em;
    box-sizing: border-box;
    scrollbar-color: #AAA #888;
    scrollbar-width: thin;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: manipulation;
    -webkit-user-select: none;
    user-select: none;
    outline: none;
}